.disp-flex{
  display: flex;
}
.color-black{
  color: black;
}
.color-white{
  color: white;
}
.bg-black{
  background-color: black;
}
.bg-white{
  background-color: white;
}
#nav-container{
  position: relative;
  display: flex;
  z-index: 102;
  border: 1px solid rgb(222, 222, 222);
}
#logo{  
  margin: auto 1.2em;
  text-decoration: none;
  font-weight: bold;
}
#navbar {
  display: flex;
  flex-grow: 1;
  padding-left: 0.7em;
  font-size: 1.2rem;
  line-height: 2.4em;
}
#navbar li {
  list-style: none;
  margin: 0 0.5em;
}
.nav-item{
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
}
.nav-item:hover{
  color:rgb(87, 87, 255);
}
#mode-container{
  margin: auto;
  margin-right: 1em;
}
#alert-container{
  position: relative;
  display: flex;
  padding: 0 1em;
  line-height: 3em;
  background-color: greenyellow;
  z-index: 101;
  transition: all 0.5s ease-in;
}
#alert-box{
  flex-grow: 1;
}
#alert-cross{
  margin: auto;
  cursor: pointer;
  height: 2.3em;
  border: none;
  outline: none;
  background-color: yellowgreen;
  transition: all 0.5s ease-in;
}
.heading {
  line-height: 2rem;
  font-weight: bold;
  background-color: yellow;
  text-align: center;
}
.form-container{
  width: 50%;
  margin: auto;
}
#input-box{
  padding: 0.6em;
  margin:2rem auto;
  border:1px solid black;
  font-size: 1.2rem;
}
#convert-btn{
  display: inline;
}
.btn{
  font-size: 1.2rem;
  padding: 0.6em;
  margin: auto 1em 0 0;
  cursor: pointer;
  color:white;
  border: none;
  border-radius: 0.2em;
  background-color: green;
}
#drop-down-container{
  display: inline;
  width: 7.3em;
}
#drop-down-content{
  display: none;
  position: absolute;
  width: inherit;
  text-align: center;
  z-index: 100;
}
#drop-down-content a{
  display: block;
  padding: 0.5em 0.2em;
  font-size: 1.2rem;
  background-color: rgb(175, 175, 175);
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#drop-down-container:hover #drop-down-content{
  display: block;
}
#drop-down-content a:hover{
  background-color: rgb(205, 205, 205);
}
#clear-btn{
  display: inline;
}
.counter-heading{
  margin: 0.6em 0 0 0;
}
@media only screen and (max-width:600px) {
  html {
    font-size: 72%;
  }
}